<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:include="parts/head.html"></div>

<body>
<header class="header" th:include="parts/header.html"></header>
<div>
    <br/>
    <h1 class="text-center" th:text="#{title}"/>
    <br/>
    <br/>
    <h4 class="text-center" th:text="#{error.oops}"/>
    <h4 class="text-center" th:text="#{error.message}"/>
    <h1 class="text-center"><a th:href="@{/index}" th:text="#{error.goBack}"/></h1>

</div>
<footer  class="footer" th:include="parts/footer.html"></footer>
</body>
</html>