<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="parts/head.html"></head>

<body>

<header class="header" th:include="parts/header.html"></header>

<main role="main" class="container main" style="width: 90%; max-width: 3000px;">

    <div class="card">
        <article class="card-body">
            <p th:if="${addItemError}" class="text-danger" th:text="#{items.addItemError}"/>
            <p th:if="${updateError}" class="text-danger" th:text="#{items.updateItemsError}"/>
            <hr>
            <div class="row">
                <div class="col-3">
                    <h4 class="card-title" th:text="#{header.invests}"/>
                </div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col">
                    <a th:href="@{/items/updateAll}" class="btn btn-success float-right">
                        <i class="fas fa-sync-alt"></i><span th:text="' ' + #{items.updateAll}"></span>
                    </a>
                </div>
                <div class="col">
                    <a th:href="@{/items/{uuid}(uuid=${0})}" class="btn btn-primary float-right">
                        <i class="fas fa-plus"></i><span th:text="' ' + #{items.addNew}"></span>
                    </a>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#deleteAllPopup">
                        <i class="fas fa-trash"></i><span th:text="' ' + #{items.deleteAll}"></span>
                    </button>
                </div>
            </div>
            <br/>
            <div class="table-responsive-sm">
                <table class="table table-striped ">

                    <thead>
                    <th scope="col" th:text="#{items.table.N}"/>
                    <th scope="col" th:text="#{items.table.picture}"/>
                    <th scope="col" th:text="#{items.table.name}"/>
                    <th scope="col" th:width="150px" th:text="#{items.table.steamLink}"/>
                    <th scope="col" th:width="200px" th:text="#{items.table.startDateTrack}"/>
                    <th scope="col" th:width="150px" th:text="#{items.table.startPrice}"/>
                    <th scope="col" th:width="150px" th:text="#{items.table.currentPrice}"/>
                    <th scope="col" th:width="200px" th:text="#{items.table.lastDateUpdate}"/>
                    <th scope="col"/>
                    <th scope="col"/>
                    </thead>
                    <tbody>
                    <tr th:each="item,iter : ${page}">
                        <td th:text="${iter.count}"/>
                        <td><img th:src="${item.picture}" alt=":)"/></td>
                        <td th:text="${item.name}"/>
                        <td>
                            <div>
                                <a th:href="${item.url}" target="_blank">
                                    <i class="fab fa-steam"></i>
                                    <output th:text=" #{items.table.toSteam}"/>
                                </a>
                            </div>
                            <div>
                                <a th:href="${item.bitSkinsUrl}" target="_blank">
                                    <i class="fab fa-bitcoin"></i>
                                    <output th:text=" #{items.table.toBitskins}"/>
                                </a>
                            </div>
                        </td>
                        <td th:text="${#temporals.format(item.startDateTrack, 'dd MMMM yyyy')}"/>
                        <td th:utext="${item.startPrices}"/>
                        <td th:utext="${item.currentPrices}"/>
                        <td th:text="${#temporals.format(item.lastDateUpdate, 'dd MMMM yyyy HH:mm:ss')}"/>
                        <td><a th:href="@{/items/{id}(id=${item.uuid})}"><i class="fas fa-edit"></i></a></td>
                        <td><a th:href="@{/items/delete/{uuid}(uuid=${item.uuid})}"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="pagination-div text-center">
                <th:block th:if="${page.totalElements > 5}">
                <span th:if="${page.hasPrevious()}">
                    <a th:href="@{/items(page=${page.number-1},size=${page.size})}" th:text="#{pagging.previous}"/>
               </span>
                    <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                        <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
                        <span th:unless="${page.number == i}">
                       <a th:href="@{/items(page=${i},size=${page.size})}">[[${i}+1]]</a>
                    </span>
                    </th:block>
                    <span th:if="${page.hasNext()}">
                    <a th:href="@{/items(page=${page.number+1},size=${page.size})}" th:text="#{pagging.next}"/>
                 </span>
                </th:block>
            </div>
            <th:block th:if="${takenItem != null}" th:include="popups/add-edit-item.html" />
            <th:block th:if="${deleteItem != null}" th:include="popups/delete-one-item.html" />
            <th:block th:include="popups/delete-all-items.html" />
        </article>
    </div>
</main>
<footer class="footer" th:include="parts/footer.html"></footer>
</body>
</html>