<nav class="navbar navbar-expand-lg fixed-bottom navbar-dark bg-dark"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org">
    <a class="navbar-brand" href="/home" th:text="#{title}"></a>
    <ul class="navbar-nav ml-auto">

        <li class="nav-item active form-inline">
            <a class="nav-link" th:text="#{footer.title}"/>
           <a target="_blank" href="https://www.linkedin.com/in/denys-borysov11/">
                <span> <i class="fab fa-linkedin-in fa-2x"></i> </span>
            </a>
        </li>

        <li class="nav-item"/>

    </ul>
</nav>