<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
     xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <a class="navbar-brand" href="/home" th:text="#{title}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item mr-auto">
            <select id="locales" class="form-control">
                <option selected disabled th:text="#{header.lang.change}"></option>
                <option value="en" th:text="#{header.lang.eng}"></option>
                <option value="ru" th:text="#{header.lang.ru}"></option>
            </select>
        </li>
        </ul>

        <ul class="navbar-nav ml-auto" sec:authorize="isAuthenticated()">

            <li class="nav-item active">
                <a class="nav-link" th:href="@{/items}" th:text="#{header.invests}" />
            </li>
            <li class="nav-item form-inline">
                <img th:src="${session.user.getPicture()}" class="rounded-circle" alt=":)" width="40" height="40">
                <a class="nav-link" th:text="${session.user.getFirstName() + ' ' + session.user.getLastName()}"/>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/logout}">
                    <span> <i class="fas fa-sign-out-alt fa-lg"></i> </span>
                </a>
            </li>
            <li class="nav-item"/>

        </ul>
    </div>
</nav>